<app-navbar></app-navbar>
<form class="search-bar">
    <input type="text" placeholder="Search recipes...">
    <button type="submit">Search</button>
</form>
<div class="filters">
    <select id="diet-type">
        <option value="">Select Diet Type</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="gluten-free">Gluten-Free</option>
    </select>
    <select id="cooking-time">
        <option value="">Select Cooking Time</option>
        <option value="under-30">Under 30 Minutes</option>
        <option value="30-to-60">30 to 60 Minutes</option>
        <option value="over-60">Over an Hour</option>
    </select>
    <select id="rating">
        <option value="">Select Rating</option>
        <option value="4">4 Stars & Up</option>
        <option value="3">3 Stars & Up</option>
    </select>
    <input type="text" id="ingredient" placeholder="Include Ingredient">
</div>
<div class="recipe-title-card">
    <div>
        <h1>Cake</h1>
        <h2>This is a good food that make you go yum.</h2>
        <div class="tag-list">
            <div class="recipe-tag">
                <p>Vegan</p>
            </div>
        </div>
        <h3>By <span class="text-underline">Som Cook</span></h3>
    </div>
    <div class="img-placeholder"></div>
</div>
<div class="recipe-navbar">
    <ul>
        <li><a href="#ingredients">Ingredients</a></li>
        <li><a href="#instructions">Instructions</a></li>
    </ul>
</div>
<div class="recipe-ingredient-list" id="ingredients">
    <h1>Ingredients List</h1>
    <ul>
        <li>Ingredient 1</li>
        <li>Ingredient 2</li>
        <li>Ingredient 3</li>
    </ul>
</div>
<div class="recipe-instruction-list" id="instructions">
    <h1>Cooking Instructions</h1>
    <ol>
        <li>Mix up ingredients</li>
        <li>Cook the ingredients</li>
        <li>c o n s u m e</li>
    </ol>
</div>