<app-navbar></app-navbar>

<h1>Saved Recipes</h1>

<div *ngFor="let recipe of savedRecipes" class="recipe-title-card">
  <div class="text-container">
    <h1>{{ recipe.strMeal }}</h1>
    <div class="tag-list">
      <div class="recipe-tag">
        <p>Category: {{ recipe.strCategory }}</p>
      </div>
      <div class="recipe-tag">
        <p>Tags: {{ recipe.strTags ? recipe.strTags.split(',').join(', ') : 'None' }}</p>
      </div>
    </div>
    <button class="go-button" (click)="openModal(recipe)">Go</button>
    <button class="remove-button" (click)="removeRecipe(recipe)">Remove</button>
  </div>
  <div class="img-placeholder">
    <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}">
  </div>
</div>

<div class="modal" [class.show]="isModalOpen" (click)="closeModal($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{ selectedRecipe?.strMeal }}</h2>
    <div class="tab">
      <button class="tablinks" (click)="openTab($event, 'Ingredients')">Ingredients</button>
      <button class="tablinks" (click)="openTab($event, 'Instructions')">Instructions</button>
    </div>
    <div id="Ingredients" class="tabcontent">
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of selectedRecipeIngredients">{{ ingredient }}</li>
      </ul>
    </div>
    <div id="Instructions" class="tabcontent">
      <h3>Instructions</h3>
      <ol>
        <li *ngFor="let instruction of selectedRecipeInstructions">{{ instruction }}</li>
      </ol>
    </div>
  </div>
</div>
