<body>
    <nav id="navbar">
        <a href="/" id="navbar-brand"><img src="../../assets/logo.png" alt="Feedary Logo" height=100></a>
        <div>
            <a href="/" class="nav-link"><img src="../../assets/home_icon.png" alt="Home Icon">Home</a>
            <a href="/fridge" class="nav-link"><img src="../../assets/fridge_icon.png" alt="Fridge Icon">Fridge</a>
            <a href="/recipe/INSERT-ID-HERE" class="nav-link"><img src="../../assets/bookmark_icon.png " alt="Bookmark Icon">Recipes</a>
        </div>
    </nav>
</body>
