<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Searcher</title>
    <link rel="stylesheet" href="navbar.component.css">
</head>
<body>
    <nav id="navbar">
        <a href="#" id="navbar-brand">Recipe Searcher</a>
        <div>
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Fridge</a>
            <a href="#" class="nav-link">Recipes</a>
        </div>
    </nav>
</body>
</html>
