<app-navbar></app-navbar>
<h1>Fridge page</h1>

<div class="container">
    <div class="row align-items-start">
        
        <div class="col" style="border: 5px solid grey">
            <h2> Your Fridge</h2>
            <div *ngFor=" let inData of allIngredients"> 
                <div class="card mb-3" style= "width: 30 rem">
                    <div class="card-body">
                        <h5 class = "card-text"> {{inData.ingredientName}} <span class="amount"> x{{inData.inventoryAmount}}</span></h5>
                        <p class="card-text"><b>Expires: {{inData.expirationDate.toDateString()}}</b> </p>
                        <footer><button type="button" class="btn btn-outline-danger">Remove</button> <button type="button" class="btn btn-outline-info"> Edit </button></footer>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="col"> 
            <div class="container" style="border: 5px solid brown">
                <h2> Item details</h2>
                <p> details here</p>

                <h2> Add Item</h2>
                <div class="mb-3">
                    <label for="ItemName" class="form-label">Item Name</label>
                    <input type="text" [(ngModel)]="name" class="form-control" id="ItemNameInput" placeholder="E.g. Apple">
                </div>

                <div class="mb-3">
                    <label for="ItemAmount" class="form-label">Amount</label>
                    <input type="text"  [(ngModel)]="amount"class="form-control" id="ItemAmountInput" placeholder="E.g. 10">
                </div>
                
                <div class="mb-3">
                    <label for="Expiration Date" class="form-label">Expiration Date</label>
                    <input type="text" [(ngModel)]="exDate" class="form-control" id="ExpirationDateInput" placeholder="E.g. 10/10/24">
                </div>

                <p> Choose One</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" (click) = "type='veggie'" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="veggie">
                    <label class="form-check-label" for="inlineRadio1">Veggie</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" (click) ="type='meat'"type="radio" name="inlineRadioOptions" id="inlineRadio2" value="meat">
                    <label class="form-check-label" for="inlineRadio2">Meat</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" (click)="type='fish'" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="fish">
                    <label class="form-check-label" for="inlineRadio3">Fish</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" (click)="type='fruit'"type="radio" name="inlineRadioOptions" id="inlineRadio4" value="fruit">
                    <label class="form-check-label" for="inlineRadio3">Fruit</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" (click)= "type='drink'"type="radio" name="inlineRadioOptions" id="inlineRadio5" value="drink">
                    <label class="form-check-label" for="inlineRadio3">Drink</label>
                </div>
                <div class="mb-3">
                    <label for="ItemAmount" class="form-label">Details</label>
                    <input type="text"  [(ngModel)]="details"class="form-control" id="details" placeholder="Enter details here">
                </div>
                <div ><button type="button" class="btn btn-success btn-lg" (click)="addIngredient()"> Add </button> </div>
                
                
            </div>
            
            
        </div>

        
    </div>
    
    
    
</div>